/* Outline to visualize layout */
* {
  outline: 1px solid red;
}

header {
  /* The total height should be 400px visible plus the height of the nav bar */
  height: 520px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Bring the cyberpunk city vibe */
  background-image: url("/images/header-background-image.png");
  /* Covers the entire area of the header */
  background-size: cover; 
  /* Centers the image in the header */
  background-position: center; 
  background-repeat: no-repeat; 
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.avatar {
  /* Makes the image round */
  border-radius: 50%; 
  width: 150px; 
  height: 150px;
  background-image: url("/images/profile-avatar.png");
  /* Ensures the image covers the area without being stretched */
  background-size: cover;
  /* Centers the image in the avatar circle */
  background-position: center;
  /* Cool haloed effect neon following theme */
  box-shadow: 0 0 10px #00faff, 0 0 20px #00faff, 0 0 40px #00faff, 0 0 80px #00faff;
}


