header {
  /* The total height should be 400px visible plus the height of the nav bar */
  height: 520px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Bring the cyberpunk city vibe */
  background-image: url("/images/header-background-image.png");
  /* Covers the entire area of the header */
  background-size: cover; 
  /* Centers the image in the header */
  background-position: center; 
  background-repeat: no-repeat; 
}

