header {
  /* The total height should be 400px visible plus the height of the nav bar */
  height: 520px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Bring the cyberpunk city vibe */
  background-image: url("/images/header-background-image.png");
  /* Covers the entire area of the header */
  background-size: cover; 
  /* Centers the image in the header */
  background-position: center; 
  background-repeat: no-repeat; 
}

/* Flicker neon sign effect found on https://css-tricks.com/how-to-create-neon-text-with-css/*/
@keyframes neon-flashing {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow:
      0 0 6px rgba(255, 255, 255, 0.92),
      0 0 30px rgba(255, 255, 255, 0.34),
      0 0 12px rgba(0, 255, 255, 0.52),
      0 0 21px rgba(0, 255, 255, 0.92),
      0 0 34px rgba(0, 255, 255, 0.78),
      0 0 54px rgba(0, 255, 255, 0.92);
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.avatar {
  /* Makes the image round */
  border-radius: 50%; 
  width: 150px; 
  height: 150px;
  background-image: url("/images/profile-avatar.png");
  /* Ensures the image covers the area without being stretched */
  background-size: cover;
  /* Centers the image in the avatar circle */
  background-position: center;
  /* Cool haloed effect neon following theme */
  box-shadow: 0 0 10px #00faff, 0 0 20px #00faff, 0 0 40px #00faff, 0 0 80px #00faff;
}

.profile-name {
  font-family: "Source Sans 3", sans-serif;
  color: #00faff; 
  text-align: center;
  margin-top: 5px; 
  animation: neon-flashing 45s infinite alternate;
}

.profile-name strong {
  font-weight: bold;
}

.profile-name span {
  font-weight: normal;
}

